## 빅데이터 실습

### 스타벅스 입지 분석

#### 데이터 수집

##### 웹사이트 제공 엑셀파일 수정

In [1]:
# 필수 라이브러리 사용 등록
import pandas as pd
import numpy as np

In [14]:
dfSeoulManicipality = pd.read_excel('./data/전국_시군구_위경도.xlsx', header=2)
dfSeoulManicipality.tail()

       강원고성군  강원    고성군  128.470164  38.377961
288    충청충주시  충청    충주시  127.928144  36.988181
289    충청태안군  충청    태안군  126.299975  36.742667
290  충청한누리대로  충청  한누리대로  127.289926  36.485450
291    충청홍성군  충청    홍성군  126.662908  36.598361
292    충청대전시  충청    대전시  127.384862  36.350630

In [12]:
# 서울 필터링
condition = dfSeoulManicipality['do'] == '서울'
dfSeoulGeo = dfSeoulManicipality[condition]

In [13]:
dfSeoulGeo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 138 to 162
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   docity     25 non-null     object
 1   do         25 non-null     object
 2   city       25 non-null     object
 3   longitude  25 non-null     float64
 4   latitude   25 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.2+ KB

In [15]:
# 필요로 만든 데이터는 항상 저장해둘 것
dfSeoulGeo.to_excel('./data/수정_서울_시군구_위경도.xlsx', index=False)

In [17]:
## 서울시 구별 인구데이터 로드
columns = ['구','세대소계','성별소계','남자','여자','한국인소계','남자','여자','등록외국인소계','남자','여자','세대당인구','65세이상']
dfSeoulPop = pd.read_excel('./data/서울시_구별_인구데이터.xlsx', header=2)
dfSeoulPop

c:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,동별(1),동별(2),소계,소계.1,남자,여자,소계.2,남자.1,여자.1,소계.3,...,남자.3,여자.3,소계.8,남자.4,여자.4,소계.9,남자.5,여자.5,소계.10,소계.11
0,합계,소계,4475726,9655918,4660459,4995459,9407540,4552501,4855039,248378,...,4649446,4989353,9386034,4540031,4846003,252765,109415,143350,2.10,1743696
1,NaN,종로구,72304,151127,72222,78905,139945,67625,72320,11182,...,71890,78563,139417,67306,72111,11036,4584,6452,1.93,28764
2,NaN,중구,64609,131825,63661,68164,121405,58788,62617,10420,...,63495,68298,121312,58659,62653,10481,4836,5645,1.87,25920
3,NaN,용산구,109360,230692,111646,119046,216152,103804,112348,14540,...,109826,117280,213151,102312,110839,13955,7514,6441,1.98,39747
4,NaN,성동구,133366,285543,138109,147434,278366,135143,143223,7177,...,137620,147146,277361,134519,142842,7405,3101,4304,2.08,49462
5,NaN,광진구,170388,351959,168059,183900,336604,161892,174712,15355,...,167562,183618,335554,161277,174277,15626,6285,9341,1.97,56819
6,NaN,동대문구,173091,359113,173936,185177,341238,167468,173770,17875,...,174120,185753,341149,167346,173803,18724,6774,11950,1.97,67030
7,NaN,중랑구,187900,387940,189874,198066,382797,187844,194953,5143,...,189462,198008,382155,187372,194783,5315,2090,3225,2.03,78955
8,NaN,성북구,197607,440089,209742,230347,427671,205245,222426,12418,...,208682,229486,425602,204171,221431,12566,4511,8055,2.16,80414
9,NaN,강북구,144269,294804,142202,152602,290155,140589,149566,4649,...,141185,151792,288113,139514,148599,4864,1671,3193,2.01,68617
10,NaN,도봉구,138210,310133,150104,160029,307740,149281,158459,2393,...,149675,159819,306948,148796,158152,2546,879,1667,2.22,70436
11,NaN,노원구,218367,504423,241959,262464,499989,240084,259905,4434,...,241099,261826,498213,239117,259096,4712,1982,2730,2.29,96422
12,NaN,은평구,215776,471155,223585,247570,467098,221977,245121,4057,...,223330,247539,466770,221725,245045,4099,1605,2494,2.16,93817
13,NaN,서대문구,147333,321379,150451,170928,307441,146119,161322,13938,...,149879,170750,306231,145404,160827,14398,4475,9923,2.09,58113
14,NaN,마포구,181192,375639,174343,201296,364257,170296,193961,11382,...,174073,201089,363697,169990,193707,11465,4083,7382,2.01,57895
15,NaN,양천구,181072,440591,214964,225627,437401,213648,223753,3190,...,214161,225091,436028,212835,223193,3224,1326,1898,2.41,76317
16,NaN,강서구,274249,569978,272961,297017,564339,270491,293848,5639,...,272338,296488,563058,269822,293236,5768,2516,3252,2.05,102096
17,NaN,구로구,184467,416815,205465,211350,393929,193258,200671,22886,...,204715,210936,392405,192341,200064,23246,12374,10872,2.13,79984
18,NaN,금천구,120650,242076,122132,119944,228611,115038,113573,13465,...,121592,119513,227481,114414,113067,13624,7178,6446,1.89,45342
19,NaN,영등포구,190761,398290,195857,202433,375586,184175,191411,22704,...,195493,202307,374794,183726,191068,23006,11767,11239,1.96,67509
20,NaN,동작구,187199,390740,188222,202518,380154,183880,196274,10586,...,187623,202091,378769,183153,195616,10945,4470,6475,2.03,70474
21,NaN,관악구,286045,500582,250388,250194,485172,244198,240974,15410,...,249026,248857,481956,242651,239305,15927,6375,9552,1.69,85418
22,NaN,서초구,169621,410766,195790,214976,406404,193703,212701,4362,...,196391,215687,407664,194291,213373,4414,2100,2314,2.40,65661
23,NaN,강남구,238647,546291,261108,285183,540957,258656,282301,5334,...,262991,287291,544873,260520,284353,5409,2471,2938,2.27,86606
24,NaN,송파구,286123,661515,317792,343723,655744,315224,340520,5771,...,316981,343044,654166,314347,339819,5859,2634,3225,2.29,108894
25,NaN,강동구,203120,462453,225887,236566,458385,224075,234310,4068,...,226237,237081,459167,224423,234744,4151,1814,2337,2.25,82984