## Pandas 학습

### 라이브러리 추가
```python
!pip install pandas
```

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\dev\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\dev\python312\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\dev\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.3/11.5 MB 6.5 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/11.5 MB 9.6 MB/s eta 0:00:02
   ---- ----------------------------------- 1.3/11.5 MB 10.3 MB/s eta 0:00:01
   ------ --------------------------------- 1.9/11.5 MB 11.1 MB/s eta 0:00:01
   --------- ------------------------------ 2.9/11.5 MB 13.1 MB/s eta 0:00:01
   ------------- -------------------------- 4.0/11.5 MB 15.0 MB/s eta 0:00:01
   ------------------ --------------------- 5.3/11.5 MB 16.9 MB/s eta 0:00:01
   ------------------------ --------------- 7.1/11.5 MB 19.7 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 22.5 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.5 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 23.4 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 33.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1

### 판다스 라이브러리 로딩
```python
import pandas as pd
```

In [8]:
import pandas as pd

### 판다스 기본
#### DataFrame 객체
- 파이썬 2차원 리스트(배열)와 동일
- 행(row) 각 하나의 유니크 데이터
- 열(column) 유니크 데이터의 하나하나 특성

In [3]:
data = [['이윤지', 28, '부산', 'dbswl341@naver.com', True],['홍길동', 20, '서울','ghdrlfehd@naver.com', False],
        ['김성국', 29, '경남', 'tjdrnr 1217@naver.com', False]]
data

[['이윤지', 28, '부산', 'dbswl341@naver.com', True],
 ['홍길동', 20, '서울', 'ghdrlfehd@naver.com', False],
 ['김성국', 29, '경남', 'tjdrnr 1217@naver.com', False]]

In [9]:
df = pd.DataFrame(data=data, columns=['이름', '나이', '주소', '이메일', '결혼'])
df

    이름  나이  주소                    이메일     결혼
0  이윤지  28  부산     dbswl341@naver.com   True
1  홍길동  20  서울    ghdrlfehd@naver.com  False
2  김성국  29  경남  tjdrnr 1217@naver.com  False

In [10]:
## 딕셔너리로 DataFrame 객체 생성
data = {'이름':['이윤지','홍길동','김성국'], '나이':[28, 20, 29], '결혼':[True, False, False]}
df = pd.DataFrame(data=data)
df

    이름  나이     결혼
0  이윤지  28   True
1  홍길동  20  False
2  김성국  29  False